In [1]:
#16th_feb_assignment

Q1. What is a database? Differentiate between SQL and NoSQL databases.
#ANS:

A database is a software system used for storing and managing data. It is a collection of data that is organized in a specific way to allow for efficient access, retrieval, and modification of that data.

SQL and NoSQL are two different types of databases with different approaches to storing and managing data. SQL (Structured Query Language) databases are based on the relational model, which organizes data into tables with predefined relationships between them. SQL databases use SQL, a standardized language, to interact with the data and manipulate it. Some popular SQL databases include MySQL, Oracle, and PostgreSQL.

On the other hand, NoSQL (Not Only SQL) databases are based on non-relational models, and they store data in more flexible ways. NoSQL databases are designed to handle large volumes of unstructured data and provide horizontal scalability. NoSQL databases use non-standardized APIs to interact with the data and manipulate it. Some popular NoSQL databases include MongoDB, Cassandra, and DynamoDB.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
#ANS:

DDL stands for Data Definition Language. It is a sub-language of SQL used to define and manage the structure of a database, including creating, modifying, and deleting database objects such as tables, indexes, and views.

Here's an explanation of the four main DDL statements and their usage with examples:

CREATE: 
        The CREATE statement is used to create a new database object, such as a table or index. 
    
DROP:
        This command is used to delete existing database objects like tables, views, or indexes.
        
ALTER:
        This command is used to modify the structure of an existing database object, such as adding or dropping columns from a table or changing the data type of a column. 
        
RUNCATE: 
        This command is used to remove all data from a table, but keep the structure of the table intact.

#examples :

1
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10,2),
    department VARCHAR(50)
);

2
DROP TABLE employees;

3
ALTER TABLE employees
ADD COLUMN hire_date DATE;

4
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
#ANS :
 
DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in a database. The three main commands used in DML are INSERT, UPDATE, and DELETE. Here's a brief explanation of each command with an example:

INSERT:
        This command is used to insert new rows of data into a table.
        
UPDATE:
        This command is used to modify existing data in a table.
        
DELETE: 
        This command is used to delete data from a table.

#examples :

1
INSERT INTO employees (id, name, salary, department)
VALUES (1, 'John Doe', 50000, 'Marketing');

2
UPDATE employees
SET salary = 55000
WHERE id = 1;

3
DELETE FROM employees
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.
#ANS:

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. The main command used in DQL is SELECT. Here's an explanation of how SELECT works with an example:

The SELECT statement is used to retrieve data from one or more tables in a database. The basic syntax of the SELECT statement is as follows:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

another way :

SELECT * FROM employees;

Q5. Explain Primary Key and Foreign Key.
#ans :

In a relational database, a primary key and a foreign key are used to establish relationships between tables. Here's an explanation of each key:

Primary Key:
                A primary key is a column or group of columns in a table that uniquely identifies each row in that table. It is used to enforce data integrity by ensuring that each row is unique and can be easily accessed by other tables that reference it. A primary key cannot contain null values and must be unique across all rows in the table. Typically, a primary key is created using an integer column with the AUTO_INCREMENT attribute.

Foreign Key: 
                A foreign key is a column or group of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables by enforcing referential integrity. A foreign key can have multiple values that correspond to the values of the primary key in another table. By using foreign keys, we can create relationships between tables, which allows us to query data across multiple tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

# create connection
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# create cursor
mycursor = mydb.cursor()

# execute SQL query
mycursor.execute("SELECT * FROM customers")

# fetch all rows
result = mycursor.fetchall()

# print rows
for row in result:
    print(row)

Q7. Give the order of execution of SQL clauses in an SQL query.
#ANS :

An SQL query consists of various clauses, each with its own purpose and order of execution. Here is the order of execution of the main SQL clauses in a query:

FROM: The FROM clause specifies the tables involved in the query and is executed first. It identifies the tables from which the data will be selected.

JOIN: The JOIN clause is used to combine rows from two or more tables based on a related column between them. It is executed after the FROM clause.

WHERE: The WHERE clause is used to filter rows based on a specified condition. It is executed after the JOIN clause.

GROUP BY: The GROUP BY clause is used to group rows based on one or more columns. It is executed after the WHERE clause.

HAVING: The HAVING clause is used to filter the groups created by the GROUP BY clause. It is executed after the GROUP BY clause.

SELECT: The SELECT clause is used to select the columns that will be included in the query result. It is executed after the HAVING clause.

DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows in the query result. It is executed after the SELECT clause.

ORDER BY: The ORDER BY clause is used to sort the rows in the query result based on one or more columns. It is executed after the SELECT or DISTINCT clause.

LIMIT/OFFSET: The LIMIT and OFFSET keywords are used to limit the number of rows returned by the query and to specify the starting row. They are executed last, after all other clauses have been executed.