#2nd_feb_assignment

#Question 1   Explain with an example each when to use a for loop and a while loop. 

1. For loop:
        A "for" loop is used to iterate over a sequence (such as a list, tuple, or string) and execute a block of code for each item in the sequence. 
        
2. while loop
        A "while" loop is used to repeatedly execute a block of code as long as a given condition is true.

In [1]:
#example of for loop:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
      print(fruit)

apple
banana
cherry

In [3]:
#example of while loop:
count = 0
while count < 3:
    print(count)
    count = count + 1

0
1
2

#Question 2 
 Write a python program to print the sum and product of the first 10 natural numbers using for  and while loop.

In [5]:
#Ans:
#Useing a for loop:
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
print("Sum of first 10 natural numbers:", sum)
print("Product of first 10 natural numbers:", product)

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

In [7]:
#Useing a while loop:
sum=0
product=1
i=1
while i <= 10:
    sum=sum+i
    product =product*i
    i=i+1
print("Sum of first 10 natural numbers:", sum)
print("Product of first 10 natural numbers:", product)

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

#Question 3 Create a python program to compute the electricity bill for a household. 
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per  unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will  be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit. 
You are required to take the units of electricity consumed in a month from the user as input. 
Your program must pass this test case: when the unit of electricity consumed by the user in a month is  310, the total electricity bill should be 2250.

In [16]:
t_unit=int(input("\n enter the total units:"))
if t_unit <= 100:
    charge=t_unit * 4.5
    print(charge)
elif t_unit <= 200:
    charge=(100 * 4.5)+((t_unit-100)*6)
    print(charge) 
elif t_unit <= 300:
    charge=(100 * 4.5)+(100 * 6)+((t_unit-200)*10)
    print(charge)
else:
    charge=(100 * 4.5)+(100 * 6)+(100*10)+((t_unit-300)*20)
    print(charge)

 enter the total units: 310

2250.0

#Question 4:
Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [34]:
l=list(range(1,101))
print(l)
l2=[]
for i in l:
    cube=i*i*i
    if cube%4==0 or cube%5==0:
        l2.append(cube)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [35]:
i=1
while i<= 100:
    cube=i*i*i
    if cube%4==0 or cube%5==0:
        l3.append(cube)
    i=i+1
print(l3)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

#Question 5:
 Write a program to filter count vowels in the below-given string. 
string = "I want to become a data scientist"

In [36]:
#Ans:
s1="I want to become data scientist"

In [44]:
s1

'I want to become data scientist'

In [61]:
count=0
for i in s1:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count=count+1
print(count)

10